@use '../vendors/bootstrap' as *;
@import "../../node_modules/bootstrap/scss/forms";




// @import "../../node_modules/bootstrap/scss/input-group";
// @import "../../node_modules/bootstrap/scss/form-check";
// @import "../../node_modules/bootstrap/scss/form-select";
// @import "../../node_modules/bootstrap/scss/form-range";